*{
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}
body{
	background-color: #d5e6ed;
}
.container{
	max-width: 1200px;
	margin: auto;
}
.header{
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	background-color: #fff;
	height: 60px;
}
.main-header{
	display: flex;
	align-items: center;
}

.site-title{
	max-width: 50px;
	
}
.logo img{
	width: 100%;
	object-fit: contain;
}

.navigation{
	flex: 2;
	display: flex;
	justify-content: flex-end;
}
.navigation .menu{
	display: flex;
	list-style: none;
}
.navigation .menu li{
	margin-right: 25px;
}
.navigation .menu a{
	text-decoration: none;
	color: #333;
}
.navigation .menu a:hover{
	text-decoration: underline;
}


.root-layout{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}


.content{
	grid-column: 2 / 7;
	width: 100%;
	padding: 15px;
}


/**
 * section home list
 * **/
 .box-menbers{
 	display: flex;
 }
 .menber{
 	flex: 1;
 	display: flex;
 	flex-direction: column;
 	max-width: 200px;
 	box-shadow: 0.2em 0em 0.1em rgba(0, 0, 0, .2);
 	min-height: 200px;
 	margin-right: 10px;
 	text-align: center;
 	
 	background-color: #7fcbeb;
 	border-radius: 0.5em;
 }
.menber-image{
	margin: 15px auto 0px auto;
	width: 150px;
	max-height: 150px;
	padding-bottom: 10px;
	overflow-y: hidden;
	background-color: #fff;
	border-radius: 50%;
}
.menber-image img{
	width: 100%;
	object-fit: contain;
}
.link-plus{
	margin-top: 15px;
	background-color: rgba(0, 0, 0, .2);
}
.link-plus a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-decoration: none;
}
 /**
  * section sidebar
  * **/
  aside{

  	grid-column: 1 / 2;
  	grid-row: 1 / 2;
  	
  }
  .sidebar{
  	background-color: #fff;
  	padding: 10px;
  	height: 100%;
  	border-right: 1px solid rgba(0, 0, 0, .3);
  	box-shadow: 0.3em 0em 0.5em rgba(0, 0, 0, .2);
  }

  footer{
  	background-color: blue;
  	color: #fff;
  }

